
/* ====== Global Styles ===== */

body, #preview {
  background-color: #fff;
  line-height: 1.5;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active, a:focus{
  text-decoration: underline;
}
h1, h2,h3,h4,h5,h6,#preview h1,#preview h2,#preview h3,#preview h4,#preview h5,#preview h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
}
h1, #preview h1 {
  font-size: 1.4em;
  color: #000;
}
h2, #preview h2 {
  font-size: 1.1em;
}
p, #preview p {
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}
tr.odd {
  background-color: #dddddd;
}
img,
#preview img {
  outline: 0;
}


body, #preview, #header #site-slogan, .ui-widget {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#header, #footer-wrapper, #preview #preview-header,#skip-link,ul.contextual-links,ul.links,ul.primary,.item-list .pager,div.field-type-taxonomy-term-reference,
div.messages, div.meta,p.comment-time,table,.breadcrumb {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input, textarea,select,a.button {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}


caption {
  text-align: left; 
  font-weight: normal;
}
blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb;
  font-style: italic;
  margin: 1.5em 10px;
  padding: .5em 10px;
}
blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: .1em;
  margin-right: .2em;
  vertical-align: -.4em;
}
blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: .1em;
  vertical-align: -.45em;
}
blockquote :first-child {
  display: inline;
}
a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0;
}

/* ===== Tables and Lists ===== */

table {
  border-spacing: 0;
  width: 100%;
  margin: 10px 0;
  font-size: 0.857em;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background-color: #757575;
  border-bottom-style: none;
}
table thead tr th, table thead tr th a, table thead tr th a:hover {
  color: #FFF;
  font-weight: bold;
}
tr td, tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; 
}
#footer-wrapper tr td, #footer-wrapper tr th {
  border-color: #555;
    
}
tr.odd {
  background-color: #e4e4e4;
}
tr,
tr.even {
  background-color: #efefef;
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

table ul.links li {
  padding: 0 1em 0 0;
}


.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em; 
}
.contextual-links-wrapper {
  font-size: small !important;
}
ul.contextual-links {
  font-size: 0.923em;
}
.contextual-links-wrapper a {
  
}
.item-list .pager {
  font-size: 0.929em;
}
ul.menu li {
  margin: 0;
}
.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em; 
}
.item-list ul li {
  margin: 0;
  padding: 0.2em 0.5em 0 0; 
}
ul.tips {
  padding: 0 0 0 1.25em; 
}


/* ====== System ===== */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; 
  vertical-align: bottom;
  margin: 0 5px 0 0; 
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; 
  padding: 0 10px 3px;
  margin: 0;
 
 
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; 
}

.tabs ul.secondary li:first-child {
  padding-left: 0; 
}
.tabs ul.secondary li a {
  padding: .25em .5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: .5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}
ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}


#messages {
  padding: 20px 0 5px;
  margin: 0 auto;
}
div.messages {
  margin: 8px 0;
}


.profile .user-picture {
  float: none;
}


.breadcrumb {
  font-size: 0.929em;
}

/* ====== Admin Settings ==== */

.page-admin #content img {
  margin-right: 15px; 
}
.page-admin #content .simpletest-image img {
  margin: 0;
}
.page-admin-structure-block-demo .block-region {
 color: #000000;
}
.page-admin #admin-dblog img {
  margin: 0 5px;
}

#system-theme-settings fieldset {
  padding: 0;
}
#system-theme-settings fieldset .fieldset-legend {
  margin-top: 0;
}

div.admin .right, div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0px 5px 5px;
}
div.admin-panel h3 {
  margin: 16px 7px;
}
div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0;
}
div.admin-panel dd {
  margin: 0 0 10px;
}
div.admin-panel .description {
  margin: 0 0 14px 7px;
}

.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}
.overlay #page {
  padding: 0 2em;
}
.overlay #skip-link, .overlay .region-page-top, .overlay #header, .overlay #page-title, .overlay #featured, .overlay #sidebar-first,
.overlay #triptych-wrapper,
.overlay #footer-wrapper {
  display: none;
}
.overlay-processed .field-type-image {
 display: block;
 float: none;
}
.overlay #messages {
  width: auto;
}

.color-form #placeholder {
  position: static;
  width: 195px;
}
.overlay .color-form #placeholder {
  position: absolute;
}
.color-form #palette {
  margin-left: 20px; 
}
.color-form .form-item {
  border: 1px solid #fbfbfb;
  margin: 0;
  padding: .5em;
  position: relative;
  max-width: 350px;
 
}
.color-form .form-item label {
  float: left; 
  font-size: 1em;
  width: 150px;
}
.color-form .form-item.item-selected {
  background-color: #eeeeee;
  border: 1px solid #cfcfcf;
}
.color-form #palette .lock {
  position: absolute;
  top: 5px;
  left: -20px; 
}
.color-form #preview {
  font-size: 0.857em;
}
.overlay #preview #footer-wrapper {
  display: block;
}

