
html {

overflow-x:hidden;

}




#header-wrapper, #main-wrapper, #footer-wrapper {
width: 100%;

}
.tabs ul.primary,
.region-header .block-menu li a {
  zoom: 1;
}
#block-search-form .content .container-inline{
  width: 200px;
  float:right;
}


.node-sticky {
  background: transparent;
  border: none;
  padding: 0 0 15px;
}
.node-teaser {
  border-bottom: 1px solid #d3d7d9;
}

.sidebar .block-menu ul li {
padding: 3px 0 ;
font-size: 0.9em;


}
.homelink {

position: static;
float:right;
width: 20%;
font-size: 11px;
text-align: right;
padding-right: 5px;
margin: 6px 0 10px 0;

}

#footer-message {
float: right;
margin-right: 15%;
padding-top: 15px;
}

