
/* ===== Basic Layout ====== */

#main,
#preview #preview-main {
  margin-top: 20px;
  margin-bottom: 30px;
}

#header div.section,
#featured div.section,
#messages,
#footer-columns,
#footer {
  
  margin-left: auto;
  margin-right: auto;
}

#main-wrapper {
width: 95%;
margin-right: 2%;
margin-left: 3%;

}
#header div.section {
  position: relative;
}
.region-header {
  float: right; 
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 30px; 
  bottom: 8px;
  
}

#search_top {

position: absolute;
right: 30px;
top: 25px;
}

#search_top h2 {

margin: 0;
padding: 0;
font-size: 0.85em;
font-weight: normal;


}
#content,
.sidebar
 {
  display: inline;
  float: left; 
  position: relative;
}
.one-sidebar #content {
  width: 78%;
}
.two-sidebars #content {
  width: 58%;
}
.no-sidebars #content {
  width: 100%;
  float: none;
}
.sidebar {
  width: 20%;
}

#content,
.sidebar {
  display: inline;
  float: left; 
  position: relative;
}

#messages div.section,
#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}

#footer-wrapper {
  padding: 35px 5px 30px;
  
}


/* ===== Header Section ===*/
#skip-link {
  left: 50%;
  margin-left: -5.2em;
  margin-top: 0;
  position: absolute;
  width: auto !important;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
   color: #000;
  display: block;
  font-size: 0.94em;
  height: 1px;
  line-height: 1.7;
  position: absolute;
  text-decoration: none;
  top: -10000px;
  width: 1px;
 
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  height: auto;
  outline: 0;
  overflow: visible;
  padding: 1px 10px 2px 10px;
  position: static;
  width: auto;
}
#logo,
#preview #preview-header #preview-logo {
  float: left; 
  padding: 5px 30px 3px 10px; 
}
#name-and-slogan {
  float: left; 
}
#name-and-slogan,
#preview #preview-header #preview-name-and-slogan {
  padding-top: 34px;
  margin-bottom: 30px;
}
#site-name,
#preview #preview-header #preview-site-name {
  font-size: 1.6em;
  color: #000;
  line-height: 1;
}
h1#site-name,
#preview #preview-header h1#preview-site-name {
  margin: 0;
}
#site-name a,
#preview-header #preview-site-name a {
  font-weight: normal;
  color: #000;
}
#site-slogan {
  font-size: 0.9em;
  margin-top: 7px;
  word-spacing: 0.1em;
  font-style: italic;
}

/* ==== Sidebar ==== */
.sidebar .section {
  padding-top: 10px;
}
.sidebar .block {
 
 margin: 0 0 20px;
  
}
.sidebar h2,
#preview .sidebar h2 {
  margin: 0 0 0.5em ;
  background: #eee url(../images/barmenu.png);
 padding: 0.4em 0.7em;
   font-size: 1.0em;
   font-weight: normal;
  line-height: 1.2;
  color: #000;
}
.sidebar .block .content {
  font-size: 0.9em;
  line-height: 1.4;
  padding: 6px 15px;  
}

/** === Siderbar === */

.sidebar .block-menu ul li {
padding: 4px 0 ;
font-size: 0.9em;
list-style-image: url(../images/arrow.png);
list-style-type:circle;
}
.sidebar tbody {
  border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}


#main-wrapper .sidebar .block-blog  ul {
font-size: 0.9em;
}

#main-wrapper .sidebar .block-blog  .more-link  a {

font-size: 0.85em;

}


/**==== Top Menu ===== **/

div#topmenu {

height: 36px;
background:#2970A6 url(../images/topend.png);
background-repeat: repeat-x;

}

div#topmenu ul { 
 margin: 0;
 padding: 0;
 list-style:none;
}

div#topmenu ul li {
float:right;
}

div#topmenu ul a:link, div#topmenu ul a:visited {
display: block;
padding: 10px 15px;
color: #F4F5F7;
font-weight: bold;
line-height: normal;
text-decoration: none;
}

div#topmenu  ul a:hover {
background-image: url(../images/menu_bg.png);
background-repeat: repeat;
	color:#FFFFFF;
}

/* ===== Secondary Menu ==== */

#secondary-menu-links {
  float: right; 
  font-size: 0.85em;
  margin: 5px 6px 0;
  
}
#secondary-menu-links li {

display: inline;
padding-right: 5px;

}

#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
  text-decoration: underline;
}

/* ==== Footer ===== */

#footer-wrapper {
  color: #000;
   font-size: 0.85em;
  margin: 0;
  padding: 0;
  border-top: 4px solid #ccc;
  
}

#footer-wrapper .section {
position: relative;
}

#footer-wrapper a { color: #000;
 
}
#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #9F9FFF;
  text-decoration: underline;
}


#footer {  letter-spacing: 0.2px;  
}

#block-system-powered-by  .content {
position: absolute;
width: 15%;
top: 0px;
left: 5px;
font-size: 11px;
}

#footer-message {
float: left;
margin-left: 38%;
padding-top: 15px;
}

.homelink {

position: absolute;
top: 10px;
right: 5px;
font-size: 11px;
}


/* ==== Default Colors ==== */

body {
  background-color: #E0E9DF;
  
}
#page-wrapper,
#main,
body.overlay {
  background-color: #ffffff;
  color: #3b3b3b;
}
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #54BE75;
  border: none;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #fff;
    
}

a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #DFECF3;
 border:none;
}
#footer-wrapper {
  background: #E0E9DF;
}
.region-header,
.region-header a,
.region-header li a.active,
#header #name-and-slogan,
#header #name-and-slogan a,
#secondary-menu-links li a {
  color: #000;
}

