
/* === Region Blocks ==== */
.region-header .block {
  font-size: 0.85em;
  float: left; 
  margin: 0 10px;
  padding: 0;
}
.region-header .block .content {
  margin: 0;
  padding: 0;
}
.region-header .block ul {
  margin: 0;
  padding: 0;
}
.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
.region-header .form-text {
  background: #fefefe; 
  border-color: #ccc;  
  margin-right: 2px; 
  width: 120px;
}
.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
  background: #fff;
  }
.region-header .form-required {
  color: #eee;
  }

.region-header .block-menu {
  border: 1px solid;
  border-color: #eee;
    padding: 0;
  width: 208px;
}
.region-header .block-menu li a {
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: #eee;
   padding: 3px 7px;
}
.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active {
  text-decoration: none;
  background: #fff;
}
.region-header .block-menu li.last a {
  border-bottom: 0;
}

.region-header #block-user-login {
  width: auto;
}
.region-header #block-user-login .content {
  margin-top: 2px;
}
.region-header #block-user-login .form-item {
  float: left; 
  margin: 0;
  padding: 0;
}
.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0;
}
.region-header #block-user-login div.item-list {
  clear: both;
}
.region-header #block-user-login div.description {
  display: inline;
}
.region-header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1;
  }
  
 .region-header #block-user-login .item-list li {
  list-style: none;
  float: left; 
  padding: 3px 0 1px;
}
.region-header #block-user-login .item-list li.last {
  padding-left: 0.5em; 
}
.region-header #block-user-login ul.openid-links li.last {
  padding-left: 0; 
}
.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
  padding-left: 20px; 
}
.region-header #block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both
}
.region-header #block-user-login input.form-submit {
  border: 1px solid;
  border-color: #ccc;
   background: #eee;
   margin: 4px 0;
  padding: 3px 8px;
}
.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #fff;
 }

.region-header #block-search-form {
  width: 208px;
}
.region-header #block-search-form .form-text {
  width: 154px;
}

.region-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em;
}


/* ==== Featured ==== */

#featured {
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.4;
  padding: 20px 0 45px;
  margin: 0;
  background: #f0f0f0;
  border-bottom: 1px solid #e7e7e7;
  }
#featured h2 {
  font-size: 1.2em;
  line-height: 1;
}
#featured p {
  margin: 0;
  padding: 0;
}

/* ==== Content =====*/

.content {
  margin-top: 10px;
}
#preview #preview-block-system-main {
  line-height: 1.5;
}
h1#page-title,
#preview h1#preview-page-title {
  font-size: 2em;
  line-height: 1;
}
#content h2,
#preview #preview-block-system-main h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}
.node .content {
  font-size: 1.071em;
}
.node-teaser .content {
  font-size: 1em;
}
.node-teaser h2 a {
  color: #181818;
}
.node-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.node-teaser.node-sticky {
  background: #f9f9f9;
   border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}
.node-teaser .content {
  color: #3b3b3b;
  clear: none;
  line-height: 1.6;
}
.meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}
.submitted .user-picture img {
  float: left; 
  height: 20px;
  margin: 1px 5px 0 0; 
}
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference .field-items,
.field-type-taxonomy-term-reference .field-item {
  display: inline;
  float: left; 
  padding-right: 10px; 
  font-weight: normal;
}
.field-type-taxonomy-term-reference div.field-label {
  font-size: 0.857em;
  color: #68696b;
}
.field-type-taxonomy-term-reference .field-items,
.field-type-taxonomy-term-reference .field-item {
  font-size: 0.929em;
}
.field-type-taxonomy-term-reference a:hover,
.field-type-taxonomy-term-reference a:focus {
  text-decoration: underline;
}
.link-wrapper {
  text-align: right;
}
.field-type-image img,
.user-picture img {
  margin: 0 0 1em;
}
ul.links {
  color: #68696b;
  font-size: 0.821em;
}

/* ===== Comments ===== */

.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0; 
}
.comment {
  margin-bottom: 20px;
  position: relative;
}
.comment .attribution {
  padding-top: 20px;
  float: left; 
  width: 110px;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../images/comment-left.gif); 
  height: 15px;
  width: 15px;
  margin-left: -36px; 
  margin-top: 35px;
  position: absolute;
}
.comment .comment-text {
  margin-left: 140px; 
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
}
.comment .indented {
  margin-left: 40px; 
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; 
}


/* ===== Password   ===== */

.password-parent,
div.form-item div.password-suggestions {
  position: relative;
  width: auto;
}
#password-strength {
  float: none;
  left: 16em;
  position: absolute;
  width: 11.5em;
}
#password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: 0.82em;
}
#password-strength-text {
  margin-top: 0.2em;
}

/* ===== Buttons ===== */

input.form-submit,
a.button {
  background: #fff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 1em; 
  padding: 4px 17px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

/* ==== Forms  ===== */

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px; 
  }
.fieldset-wrapper {
  margin-top: 25px;
}
.filter-wrapper {
  top: 0;
  padding-bottom: 10px;
  
}
fieldset.collapsed {
  background: transparent;
  
}
fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  height: 2em;
  left: -1px; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
   top: -12px;
  width: 100%;
 
}
fieldset.collapsed legend {
 
}
fieldset legend a {
  color: #3b3b3b;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #000;
}
fieldset .fieldset-wrapper {
  padding: 0 10px;
}
input {
  margin: 2px 0;
  padding: 4px;
}
input,
textarea {
  font-size: 0.929em;
}
textarea {
  line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
  padding: 4px;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
}
input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}
.password-suggestions ul li {
  margin-left: 1.2em; 
}
.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}
.form-item label {
  font-size: 0.929em;
}
fieldset .description {
  margin-top: 5px;
  line-height: 1.4;
  color: #3c3c3c;
  font-style: italic;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
  padding-top: 10px;
}


/* =====Contacts  ==== */

.contact-form #edit-name {
  width: 75%;
   
}
.contact-form #edit-mail {
  width: 75%;
    
}
.contact-form #edit-subject {
  width: 75%;
    
}
.contact-form #edit-message {
  width: 76.3%;
    
}
.contact-form .resizable-textarea .grippie {
  width: 76%;
    
}

html.js input.form-autocomplete {
  background-position: 100% 4px; 
}
html.js input.throbbing {
  background-position: 100% -16px; 
}

/* ====Comment form ====*/

.comment-form .form-item {
  overflow: hidden;
  margin-bottom: .8em;
}
.comment-form .form-type-textfield label,
.comment-form .form-type-item label {
  float: left; 
}
.comment-form .form-type-textfield input,
.comment-form .form-item .username {
  float: right; 
  width: 75%;
   
}
.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1;
  float: right; 
  width: 76%;
}
.comment-form .form-textarea {
 
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em;
}

/* ==== Search Form ==== */

#block-search-form {
  padding-bottom: 7px;
}
#block-search-form .content {
  margin-top: 0;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left; 
  font-size: 1em;
  height: 1.143em;
  margin-right: 5px;
  width: 9em;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}
#search-form .form-item-keys label {
  display: block;
}

/* ==== Polls ==== */

.node .poll {
  margin: 2em 0;
}
.node .poll #edit-choice {
  margin: 0 0 1.5em;
}
.poll .vote-form {
  text-align: left; 
}
.poll .vote-form .choices {
  margin: 0;
}
.poll .percent {
  font-size: 0.857em;
  font-style: italic;
  margin-bottom: 3em;
  margin-top: -3.2em;
  float: right;
  text-align: right;
}
.poll .text {
  clear: right;
}
.poll .total {
  font-size: 0.929em;
  font-style: italic;
  text-align: right; 
  clear: both;
}
.node .poll {
  margin: 1.8em 0 0;
}
.node .poll #edit-choice {
  margin: 0 0 1.2em;
}
.poll .bar .foreground {
  background-color: #666;
}
#footer-wrapper .poll .bar {
  background-color: #666;
}
#footer-wrapper .poll .bar .foreground {
  background-color: #ddd;
}


/* ===== Miscellaneous  ===== */

div.password-suggestions {
  border: 0;
}
.ui-widget-overlay {
  background: #222222;
 
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em;
}
#forum tr td.forum {
  padding-left: 35px;
}
#forum .name {
  font-size: 1.083em;
}
#forum .description {
  font-size: 1em;
}

.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0; 
}
.shortcut-wrapper h1#page-title {
  float: left; 
  margin: 0;
}
div.add-or-remove-shortcuts {
  padding-top: 0.9em;
}
.overlay div.add-or-remove-shortcuts {
  padding-top: 0.8em;
}
